* {
    margin: 0;
    padding: 0;
}

/* CLASS */

body {
    position: relative;
    background-image: url(../img/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

header {
    max-height: 130px;
    border-bottom: 2px solid rgba(255,255,255, .2);
    margin-bottom: 50px;
}

.upper-header {
    display: flex;
    position: relative;
}

.upper-header img {
    width: 250px;
    height: 75px;
    margin-left: 30px;
    cursor: pointer;
}

.form-header-container {
    display: flex;
    position: absolute;
    right: 40px;
    top: 0;
}

.form-header-container form {
    position: relative;
    margin-right: 60px;
}

.form-header-container form input {
    margin-top: 20px;
    width: 100px;
    font-family: sans-serif;
    padding: 5px 3px 5px 3px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: rgba(97, 95, 184, .3);
}

.form-header-container form img {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 2px;
    right: 8px;
    background-color: rgb(0, 183, 255);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.form-header-container h2 {
    height: 40px;
    padding: 5px 35px 0 35px;
    background-color: #fff;
    color: #5f5e5e;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    cursor: pointer;
}

.navigation-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 85px;
}

.navigation-container a  {
    margin-right: 20px;
    text-decoration: none;
}

.zones-dropdown, .web-platform-dropdown, .last-nav-children {
    margin-top: 3px;
}

.zones-dropdown, .web-platform-dropdown {
    position: relative;
    margin-right: 20px;
}

.zones-dropdown img, .web-platform-dropdown img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -10px;
    top: -5px;
    cursor: pointer;
}

.navigation-container a {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

.navigation-container ul {
    background-color: #808080;
    padding-left: 5px;
    border-radius: 3px;
    pointer-events: none;
    transition: all .6s ease;
}

#dropdownOne, #dropdownTwo {
    opacity: 0;
}

.navigation-container ul li {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.search-bar {
    display: flex;
}

.search-form {
    margin-left: 15px;
    transition: all .3s ease;
}

.search-bar input {
    width: 160px;
    padding: 5px 6px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 3px;
    transition: 3s ease-in-out;
}

.search-bar img {
    width: 13px;
    height: 13px;
    border-radius: 5px;
    background-color: rgb(81, 146, 243);
    padding: 6px 9px;
    cursor: pointer;
}

#mozillaMenu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -3000px;
    width: 100%;
    height: 140px;
    background: linear-gradient(#72a7ec, rgb(35, 53, 109));
    z-index: 100;
    transition: .8s ease;
}

.mozilla-content {
    display: flex;
    float: right;
}

#mozillaMenu h1 {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px #fff;
    color: #464444;
    transition-delay: 1s;
    transform: skewX(10deg);
    text-decoration: underline;
}

#mozillaMenu p {
    float: right;
    font-size: 21px;
    margin: 15px 30px 0 400px;
    cursor: pointer;
}
/*
.mozzila-menu {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #808080;
    z-index: 100;
}

.mozzila-menu p {
    float: right;
    font-size: 21px;
    margin: 15px 30px 0 0;
    cursor: pointer;
}
*/

/* Main part starts */

.first-section h1 {
    font-size: 43px;
    font-weight: 100;
    color: #fff;
    margin-left: 69px;
    margin-bottom: 15px;
}

.first-section h1:nth-of-type(2) {
    margin-left: 226px;
    margin-bottom: 45px;
}

.first-section form {
    margin-bottom: 55px;
    text-align: center;
}

.first-section input {
    padding: 8px;
    width: 80%;
    /*color: rgba(255, 255, 255, .6);*/
    background-color: rgba(30, 107, 170, .3);
    border: none;
    border-radius: 3px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icons img {
    float: left;
    width: 65px;
    height: 65px;
}

.icons p {
    margin-top: 23px;
    margin-left: 10px;
    float: left;
    width: 141px;
    font-weight: 800;
    vertical-align: middle;
    color: #fff;
}

.web-icon p, .tools-icon p {
    margin-top: 10px;
}

