* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container {
    position: relative;
    background-image: url(../img/background.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    left: 150px;
    background-image: url(../img/logo.jpg);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navigation-container {
    float: right;
    font-size: 15px;
    font-family: sans-serif;
    padding-right: 100px;
    margin-top: 25px;
}

.navigation-container a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.navigation-container a:hover {
    background-color: #403e39;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
    padding: 3px;
}

.navigation-container a:first-child {
    position: relative;
    padding-bottom: 3px;
}

.navigation-container a:first-child::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 95%;
    background-color: #008000;
    left: 1px;
    bottom: 0;
}

.navigation-container a:last-child {
    padding-right: 0;
}

.emissions-manufacturing {
   position: absolute;
   left: 330px;
   top: 225px;
}

.primary-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    color: #fff;
    margin-bottom: 8px;
}

.secondary-header {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
    font-size: 18px;
}

.secondary-header.separate {
    background-color: #81f542;
    padding: 3px 3px 4px 7px;
    margin-right: 5px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.button-holder {
   text-align: center;
}

.btn-container {
    padding: 13px 35px 13px 35px;
    font-family: sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-container:hover {
    background-color: #808080;
}

.first-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 300px;
}

.exhaust-system {
    position: absolute;
    left: 250px;
}

.header-up {
    margin-bottom: 20px;
    font-family: sans-serif;
    color: rgba(0,0,0,0.8);
    font-weight: 400;
}

.header-down {
    width: 230px;
    font-family: sans-serif;
    color: rgba(0,0,0,0.5);
    font-size: 15px;
    line-height: 1.5;
}

.support {
    position: absolute;
    right: 185px;
    bottom: -183px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    background-color: #3aa832;
    box-shadow: 0 0 65px rgba(80,80,80,0.8);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-header {
    position: relative;
    margin-bottom: 55px;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.top-header::after {
    position: absolute;
    content: " ";
    height: 3px;
    width: 45px;
    background-color: #fff;
    left: 143px;
    bottom: 0;
    top: 95px;
    
}

.bottom-header {
    width: 270px;
    padding-bottom: 65px;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 1.6;
}

.img-holder {
    display: flex;
    justify-content: center;
}

.img-one, .img-two, .img-three {
    position: relative;
    width: 215px;
    height: 155px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #008000;
    margin-bottom: 135px;
}

.img-one, .img-two {
    margin-right: 20px;
}

.img-one {
    background-image: url(../img/img1.jpg);
}

.img-two {
    background-image: url(../img/img2.jpg);
}

.img-three {
    background-image: url(../img/img3.jpg);
}

.move, .move2 {
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: sans-serif;
}

.move {
    left: 45px;
}

.move2 {
    left: 60px;
}

.last-div {
    text-align: center;
}

.first-header {
    font-family: sans-serif;
    color: rgb(48, 46, 46);
    margin-bottom: 10px;
}

.second-header {
    font-family: sans-serif;
    width: 300px;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    color: rgb(94, 92, 92);
}

/* Media queries */
