* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.main-header {
	background-color: #0aa9f9;
	padding: 30px 20px;
}

.main-navigation {
	float: right;
}

.main-navigation a {
	display: inline-block;
	padding: 3px 5px;
	margin: 0 7px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
	transition: 0.4s all ease-out;
}

.main-navigation .selected {
	background-color: #2ab9fd;
	border-radius: 3px;
}

.main-navigation a:first-child {
	margin-left: 0;
}

.main-navigation a:last-child {
	margin-right: 0;
}

.main-navigation a:hover {
	background-color: #2ab9fd;
}

.hamburger-btn {
	display: none;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.hamburger-btn div {
	height: 3px;
	background-color: #000;
	margin: 7px 0;
}

.hamburger-panel {
	display: none;
    position: absolute;
    top: 0;
	left: 0;
    width: 100vw;
	height: 50vh;
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
    background-color: rgba(19, 49, 98, .9);
    text-align: center;
    z-index: 10;
}

.hamburger-expanded {
	position: fixed;
}

.hamburger-expanded .hamburger-panel {
	display: block;
}

.hamburger-panel .selected {
	background-color: pink;
}

.hamburger-close-btn {
	font-size: 40px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 25px;
}

.logo {
	font-size: 23px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
}

.jumbo {
	position: relative;
	min-height: 432px;
	padding-top: 100px;
	background-image: url(../img/boats.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	box-sizing: border-box;
}

.jumbo .main-title {
	margin-bottom: 30px;
	font-size: 40px;
	color: #0aa9f9;
	text-shadow: -1px 1px #000;
}

.jumbo .sub-title {
	margin-bottom: 30px;
	font-size: 24px;
	color: #fff;
	font-weight: 100;
	text-shadow: -1px 1px #000;
}

.jumbo .btn {
	display: inline-block;
	min-width: 136px;
	padding: 15px 20px;
	font-size: 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: 0.3s all ease-in-out;
}

.jumbo .btn.primary {
	color: #fff;
	background-color: #0aa9f9;
}

.jumbo .btn.secondary {
	color: #0aa9f9;
	background-color: #fff;
}

.jumbo .btn:hover {
	color: #fff;
	background-color: #2ab9fd;
}

.arrow-holder {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.arrow {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #020072;
	text-decoration: none;
	border: 1px solid #020072;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
}

.arrow.left {
	margin-left: 20px;
	float: left;
}

.arrow.right {
	margin-right: 20px;
	float: right;
}

/* Features Section */

.features {
	padding-top: 100px;
	text-align: center;
	box-sizing: border-box;
}

.features-holder {
	margin-bottom: 100px;
}

.section-title {
	margin-bottom: 60px;
	text-align: center;
}

.section-title h2 {
	margin-bottom: 15px;
	font-weight: 100;
}

.section-title h3 {
	font-size: 16px;
	font-weight: 100;
}

.feature-item {
	display: inline-block;
	width: 24.3%;
}

.feature-icon {
	width: 100px;
	height: 100px;
	margin: 0 auto 30px auto;
	background-color: #0aa9f9;
	border-radius: 50%;
	background-image: url(../img/instegram_dark.svg);
	background-size: 33px;
	background-repeat: no-repeat;
	background-position: center;
}

.facebook {
	background-size: 18px;
	background-image: url(../img/facebook_dark.svg);
}

.twitter {
	background-image: url(../img/twitter_dark.svg);
}

.instagram {
	background-image: url(../img/instegram_dark.svg);
}

.age-valid {
	background-image: url(../img/18-plus-ring.svg);
}

.feature-title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
}

.feature-sub-title {
	font-size: 14px;
}

/* Product Section */

.products {
	margin-bottom: 30px;
}

.products-holder {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.product-item {
	flex-wrap: wrap;
    align-items: self-start;
	width: 90vw;
	padding: 20px;
	margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
	background-color: #ecf7ff;
	box-sizing: border-box;
}

.product-item:last-child {
	margin-bottom: 0;
}

.img-holder,
.img-holder img {
	flex: 0 0 100%;
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	text-align: center;
}

.product-title {
	flex: 0 0 100%;
	margin: 15px 0;
    padding-bottom: 10px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}

.product-description {
	min-height: 80px;
	font-size: 14px;
    line-height: 17px;
    color: #41545d;
}

.product-purchase {
	display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-purchase .price {
	font-size: 22px;
    color: #707070;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 5px 10px 3px 8px;
}

.product-purchase .buy-now-btn {
	padding: 8px 15px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
	background-color: #184a90e3;
	transition: .5s all ease-in-out;
}

.product-purchase .buy-now-btn:hover {
	background-color: #0f3162;
}

/* Footer styles here */

.website-footer {
	padding: 20px;
	background-color: #0aa9f9;
	color: #fff;
	box-sizing: border-box;
}

.website-footer nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.website-footer nav a:hover {
	color: #020072;
}

.website-footer-col {
	margin-bottom: 20px;
}

.website-footer-row {
	margin-bottom: 30px;
}

.website-footer-row:last-child {
	text-align: center;
	margin-bottom: 0;
}

@media only screen and (min-width: 420px) {
	.website-footer-col {
		display: inline-block;
		margin-right: 80px;
	}
}

@media only screen and (min-width: 720px) {
	.website-footer-col {
		max-width: 160px;
	}

	.products-holder {
		flex-direction: row;
	}

	.product-item {
		width: 250px;
		margin: initial;
	}
}

@media only screen and (min-width: 1280px) {
	.website-footer-col {
		max-width: 300px;
	}
	.product-item {
		width: 350px;
	}
}

@media only screen and (max-width: 400px) {
	.main-navigation {
		display: none;
	}
	.main-navigation.mobile-active {
		float: initial;
		display: flex;
		flex-direction: column;
	}

	.feature-item {
		display: block;
		width: 90vw;
		margin: 0 auto 40px auto;
	}

	.arrow-holder {
		top: initial;
		transform: none;
		bottom: 15px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
	.arrow-holder {
		top: initial;
		transform: none;
		bottom: 15px;
	}
	.main-navigation {
		display: none;
	}
	.main-navigation.mobile-active {
		float: initial;
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
	.arrow-holder {
		top: initial;
		transform: none;
		bottom: 15px;
	}
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
	
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.jumbo .main-title {
		color: orange;
	}
}

@media only screen and (max-width: 1024px) {
	.hamburger-btn {
		display: inline-block;
	}
}
